<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css" type="text/css">
    <title>Aeropuerto El Embrujo</title>
</head>
<body class="body-tyc">
    <section class="box-tyc">
        <h1>TÉRMINOS Y CONDICIONES GENERALES</h1>
        <br>
        <p>Los usuarios de la aplicación podrán clasificarse de la siguiente manera:</p>
        <br>
        <p>Pasajeros</p>
        <p>Empleados del Aeropuerto El Embrujo</p>
        <br>
        <p>La información biométrica será usada para que en los procesos dentro del aeropuerto no requiera que se entreguen documentos, sino que a través de un código QR o por reconocimiento facial se permita el acceso a los diferentes puntos de control dentro del aeropuerto.</p>
        <br>
        <p>Igualmente, esta información se usará para que los procesos dentro del aeropuerto, que el pasajero haga todos sus procesos sin tener que presentar pasaportes, cédulas o tarjetas de embarque. Este protocolo está alineado con el estándar de industria que promovido por la IATA para tener un Token ID temporal y que el pasajero tenga una experiencia de viaje fluido dentro del aeropuerto.</p>
        <br>
        <p>Toda la información biográfica y biométrica puede ser eliminada en cualquier momento a solicitud del pasajero o funcionario.</p>
        <br>
        <p>La información biográfica y biométrica será custodiada únicamente por el OPAIN bajo los más altos niveles de seguridad.</p>
        <br>
        <p>La información biográfica y biométrica registrada en el proceso de enrolamiento, el pasajero autoriza a las aerolíneas a acceder a la identidad digital creada en dicho proceso y permitir a las aerolíneas asociar las tarjetas de embarque a esa identidad y de esta manera crear un Token ID único por viaje, permitiendo de esta manera garantizar que el proceso de reconocimiento facial funcione dentro de las facilidades del aeropuerto en los diferentes procesos de chequeo, entrega de maletas, ingresos a filtros y embarque, entre otros.</p>
        <br>
        <p>La información podrá ser usada para campañas comerciales de marketing directo a la persona de acuerdo con un plan de fidelización acorde a las preferencias del usuario.</p>
        <br>
        <p>Por tal motivo, OPAIN solicita a quien haga uso de la aplicación, que lea juiciosa y detalladamente estos términos y condiciones y la política de privacidad y tratamiento de datos antes de iniciar su utilización. En caso de no estar de acuerdo con estas condiciones y estas políticas, se sugiere que se abstenga de hacer uso de la página web.</p>
        <br>
        <h4>1. Aceptación de Términos.</h4>
        <br>
        <p>Cuando un usuario accede a la página “Aeropuerto El Embrujo”, lo hace bajo su responsabilidad. El acceso a y/o uso de la aplicación y sus herramientas es totalmente voluntario y atribuye a quien lo realiza la condición de Usuario, por tal razón, el uso de la aplicación significa la ACEPTACIÓN Y CONOCIMIENTO, sin limitación de ningún tipo, de los términos y condiciones que se indican en los párrafos siguientes, y el incumplimiento de dichos términos y condiciones dará lugar a las acciones legales que procedan.</p>
        <br>
        <p>OPAIN se reserva el derecho de efectuar en cualquier momento, de manera unilateral y sin aviso previo, modificaciones o actualizaciones a los presentes Términos y Condiciones, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos.</p>
        <br>
        <h4>2. Propiedad Intelectual.</h4>
        <br>
        <p>La aplicación y su contenido, incluyendo textos, logos, gráficos, videos, animaciones y sonidos, son de propiedad de sus autores, incluyendo a OPAIN, así se reservan todos los derechos de propiedad intelectual sobre los contenidos de su autoría y sobre las que le sean cedidas. Todos los contenidos están protegidos por las normas nacionales e internacionales de propiedad intelectual.</p>
        <br>
        <p>Queda prohibida su reproducción total o parcial, su traducción, inclusión, transmisión, almacenamiento o acceso a estos por cualquier vía, sin autorización previa y por escrito de OPAIN.</p>
        <br>
        <p>En relación con los contenidos de la aplicación, el usuario se obliga a:</p>
        <br>
        <p>Usar los contenidos de forma diligente, lícita y correcta.</p>
        <br>
        <p>No suprimir, ni manipular los derechos de autor y los datos que identifican los derechos de OPAIN</p>
        <br>
        <p>No emplear lo contenidos de la aplicación para emitir publicidad.</p>
        <br>
        <p>El usuario no incurrirá en y desde la aplicación, en conductas ilícitas como ataques informáticos, interceptación de comunicaciones, infracciones al derecho de autor, usurpación de identidad, entre otros. Tampoco atentará contra la aplicación de ninguna manera, contra su plataforma tecnológica ni interferirá en su funcionamiento tecnológico.</p>
        <br>
        <p>El visitante de la aplicación será responsable por el uso indebido o ilícito de la misma y de sus contenidos.</p>
        <br>
        <h4>Uso de la Plataforma.</h4>
        <br>
        <p>Para poder hacer uso de los servicios ofrecidos por la aplicación “El Dorado” el usuario debe ser mayor de edad y tener capacidad legal para contraer obligaciones. En esa medida, OPAIN no será responsable ante el usuario ni ante terceros, por controversias o perjuicios que se deriven de la falta de veracidad de la información brindada por el usuario. En el caso de que el usuario sea un menor de edad, la información debe suministrarla el adulto que tenga su representación legal o quien haya sido encargado de su custodia.</p>
        <br>
        <p>Para hacer uso de los servicios de la aplicación es necesario el suministro de datos personales y el tratamiento de los mismos. Dicha actividad se regirá por la Política de Privacidad y la Política de Tratamiento de Datos que más adelante se expondrá. En todo caso, el Usuario no suministrará información que: (i) sea fraudulenta, falsa, engañosa (directamente o por omisión o no actualización de la información) o falaz; (ii) no sea de su propiedad; o (iii) incumpla cualquier política de OPAIN.</p>
        <br>
        <h4>4. Relación de consumo, Medio de Pago, Facturación y Reembolsos.</h4>
        <br>
        <p>OPAIN pondrá a disposición de terceros una plataforma digital con el fin de que a través de ésta, se ofrezcan los productos y se realicen las ventas correspondientes. La relación de consumo que se derive de la adquisición de productos y/o servicios ofrecidos en dicha plataforma a través de la aplicación “El Dorado”, se regirá por las normas contenidas en la Ley 1480 de 2011 – Estatuto de Protección al Consumidor.</p>
        <br>
        <p>El pago de los servicios y de los productos ofrecidos en la página web que se hagan a través de internet, se harán por intermedio de plataformas que garanticen la seguridad de las transacciones. Es importante aclarar que los servicios prestados por estas plataformas de pago son subcontratados, razón por la cual OPAIN no se hace responsable por fallas, errores, fraudes o cualquier tipo de inconveniente que se pueda generar frente a los medios de pago o el pago mismo realizado a través de las mencionadas plataformas. Por ese motivo, OPAIN recomienda a los usuarios revisar los Términos y Condiciones de dichas plataformas de pago antes de realizar cualquier transacción a través de las mismas.</p>
        <br>
        <p>En relación con las reclamaciones, OPAIN aclara que cualquier solicitud que busque el reintegro o devolución de dinero deberá realizarse a través de los canales habilitados por OPAIN para las Peticiones, Quejas y Reclamos. Es preciso aclarar que la presentación de la solicitud NO garantiza una respuesta positiva a la pretensión, ni la efectiva devolución de los dineros. La reclamación podrá presentarse a través de los siguientes canales:</p>
        <br>
        <p>Página Web: www.aeropuertoelembrujo.co</p>
        <br>
        <p>Buzones físicos dentro de las instalaciones del Aeropuerto El Embrujo</p>
        <br>
        <p>Deberá acompañarse por toda la documentación que el reclamante quiera hacer valer.</p>
        <br>
        <p>OPAIN se encargará de trasladar las reclamaciones a quien corresponda, y estos a su vez serán los encargados de dar las respuestas correspondientes.</p>
        <br>
        <h4>5. Privacidad</h4>
        <br>
        <p>Esta Política de Privacidad describe todos los aspectos relacionados con la información que recopilamos cuando hace uso de la aplicación “Aeropuerto El Embrujo” o cuando se registra en el sitio web www.aeropuertoelembrujo.co. Por favor, lea esta Política de Privacidad antes de suministrar cualquier información personal o prestar su consentimiento para autorizar el tratamiento de sus Datos Personales. Al autorizar el tratamiento de sus datos personales, usted acepta las prácticas descritas en esta Política de Privacidad y acepta que OPAIN trate sus datos personales. Si usted no está de acuerdo con estas prácticas está en su derecho de descontinuar el uso de la aplicación cuando lo desee.</p>
        <br>
        <p>OPAIN considera como objetivo fundamental garantizar y proteger la privacidad y la confidencialidad de los datos de carácter personal de sus usuarios, de conformidad con la legislación vigente.</p>
        <br>
        <p>El usuario puede navegar libremente por la aplicación; sin embargo, cuando se registre en la misma aplicación ingresando la información personal, el usuario decide voluntariamente si realiza el proceso o no.</p>
        <br>
        <p>Como compañía, OPAIN se compromete a salvaguardar la privacidad de la información personal del usuario obtenida a través de la aplicación, para lo cual establece una política de tratamiento de datos como se expone más adelante.</p>
        <br>
        <p>OPAIN pone en conocimiento de los usuarios que ha adoptado las medidas de índole técnica y organizativas que garantizan la seguridad de los datos de carácter personal y evitan su alteración, pérdida, tratamiento o acceso no autorizado. De esa manera, OPAIN se compromete a cumplir con el deber de secreto y confidencialidad respecto de los datos personales contenidos en las bases de datos, así como a conferirles un tratamiento seguro en las cesiones y transferencias internacionales de datos que, en su caso, puedan producirse.</p>
        <br>
        <p>La información se recolecta directamente del titular de los datos personales, quien la suministra voluntariamente y autoriza el tratamiento de los mismos. La información deberá ser completa y veraz, por tal razón, el usuario es responsable por los datos que proporcione; OPAIN S.A. no se hace responsable por la veracidad de los mismos.</p>
        <br>
        <p>OPAIN se reserva el derecho de revelar su información personal para cumplir con requerimientos legales, hacer cumplir nuestros Términos y Condiciones y Política de Privacidad, responder a quejas que tengan que ver con los derechos de terceros, proteger los derechos de cualquier persona, su propiedad o seguridad o en general, para asegurar la adecuada prestación del servicio y el acatamiento a la Ley. Esta información se revelará bajo las leyes, regulaciones y procedimientos correspondientes.</p>
        <br>
        <p>También se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos.</p>
        <br>
        <h4>6. Indemnidad y Exención de Responsabilidad.</h4>
        <br>
        <p>El Usuario acuerda mantener indemne y responder frente a OPAIN por cualquier reclamación, demanda, pérdida, responsabilidad y gasto (incluidos los honorarios de abogados) que deriven de: (i) su uso de la aplicación para acceder a los Servicios y/o productos ofrecidos; (ii) su incumplimiento o violación de cualquiera de estas Condiciones; (iii) el uso por parte de OPAIN de su información personal; o (iv) su infracción de los derechos de cualquier tercero.</p>
        <br>
        <p>De igual manera, el Usuario acepta eximir, defender (según el criterio de OPAIN), indemnizar y descargar de responsabilidad a OPAIN y a sus filiales y subsidiarias, así como a sus responsables, directivos, empleados y agentes, contra y frente a cualquier reclamación, responsabilidad, indemnización por daños y perjuicios, pérdidas y gastos, incluido, sin limitación, los gastos razonables de asesoría jurídica y contable, que se desprendan de, o estén de algún modo relacionados con: (i) el incumplimiento por parte del Usuario de los presentes Términos, (ii) el uso indebido del Usuario de la Plataforma, del sitio web o cualquier Servicio, o (iii) la infracción por su parte de cualesquiera leyes, normativas o derechos de terceros.</p>
        <br>
        <p>Si utiliza la aplicación, el Usuario obrará así de forma voluntaria y por su propia cuenta y riesgo.</p>
        <br>
        <h4>7. Responsabilidad por la información contenida.</h4>
        <br>
        <p>Dado que no es posible asegurar la falta de injerencia de terceras personas en las aplicaciones tecnológicas, OPAIN no garantiza la exactitud o veracidad de toda o parte de la información contenida en la aplicación. No responderá si la información ha sido alterada o modificada en todo o en parte luego de haber sido publicada. OPAIN no controla la presencia de virus y otros elementos informáticos en los contenidos que puedan producir alteraciones en los equipos de los Usuarios y/o en sus documentos electrónicos.</p>
        <br>
        <p>El usuario reconoce que técnicamente no es posible lograr disponibilidad del Servicio de la aplicación El Dorado al 100%. Especialmente por razones de mantenimiento, seguridad o capacidad, así como a causa de acontecimientos sobre los que no puede influir OPAIN Sin embargo, OPAIN se esforzará por mantener disponible el Servicio de la forma más constante posible.</p>
        <br>
        <p>La información reportada en la encuesta de salud que diligenciarán los miembros de la comunidad aeroportuaria, a través de la App El Dorado, será remitida a sus respectivos empleadores. Sin embargo, no es obligación de Opain realizar este envío de información, por lo que no se hace responsable por la veracidad de la información reportada ni por la falta de reportes de los miembros que conforman la comunidad aeroportuaria. Es obligación de cada uno de los empleadores conocer el estado de salud de sus empleados.</p>
        <br>
        <h4>8. Ley aplicable.</h4>
        <br>
        <p>Estas condiciones constituyen un contrato legalmente vinculante entre OPAIN y el usuario de la aplicación. Todas las relaciones que emanen de las condiciones o de este contrato serán gobernadas por las leyes de la República de Colombia, en los aspectos que no estén expresamente regulados en ellas. Si cualquier disposición de estas condiciones pierde validez o fuerza vinculante, por cualquier razón, las demás disposiciones conservan su fuerza obligatoria y generarán todos sus efectos.</p>
        <br>
        <h4>9. Vigencia de los Términos y Condiciones.</h4>
        <br>
        <p>Estos términos y condiciones desarrollados por la sociedad OPAIN S.A. inician su vigencia desde el 17 de octubre del 2021.</p>
    </section>
</body>
</html>