<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css" type="text/css">
    <title>Mis vuelos</title>
</head>
<body class="body-user">
    <main class="wrapper">
        <div class="sidebar">
            <h2><a href="usuario.html">El Embrujo</a></h2>
            <ul>
                <li><a href="profile_user.html">Perfil</a></li>
                <li><a href="checkin.html">Check-In</a></li>
                <li><a href="vuelos.html">Mis Vuelos</a></li>
                <li><a href="reserva.html">Reserva</a></li>
            </ul>
            <div class="bar">
                <a href="login.html">Cerrar Sesión</a>
            </div>
        </div>
        <div class="main_cont">
            <div class="info">
                <div>
                    <center>
                        <h1> MIS VUELOS</h1>
                    </center>
                    <section class="form-codigo">
                        <p> Aún no haz viajado con nosotros.</p>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>
</html>